.vue-component-workspace {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  @include rwd('sm') {
    min-height: 80vh;
    padding-left: calc(#{$szkoda_koordynator-workspace-panel-closed-margin} + 3 * #{$szkoda_koordynator-workspace-bucket-gutter});
    padding-right: calc(#{$szkoda_koordynator-workspace-panel-closed-margin} + 3 * #{$szkoda_koordynator-workspace-bucket-gutter});
  }

  .workspace {
    position: relative;
    overflow: hidden;


    &__panel {
      display: flex;
      position: relative;
      transition: 0.5s all;
      background: blue;
      overflow: hidden;
      height: $szkoda_koordynator-workspace-panel-closed-margin;

      @include rwd('sm') {
        position: absolute;
        width: calc(#{$szkoda_koordynator-bucket-min-width} + 2 * #{$szkoda_koordynator-workspace-bucket-gutter});
        height: 100%;
        z-index: 1000;
      }

      &__content {
        transition: 0.5s all;
        background: darkred;
        height: calc(100% - #{$szkoda_koordynator-workspace-panel-closed-margin});
        max-height: calc(50vh - 40px);
        overflow: hidden;

        > * {
          transition: 1s opacity;
          opacity: 0;
        }

        @include rwd('sm') {
          height: 100%;
          max-height: unset;
          overflow: unset;
        }
      }

      &__tool {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;

        > div {
          background: orange;
        }

        @include rwd('sm') {
          top: 50%;
          bottom: unset;

          transform: rotate(-90deg);
        }
      }

      &--left {
        padding-bottom: $szkoda_koordynator-workspace-panel-closed-margin;

        @include rwd('sm') {
          left: calc(0px - #{$szkoda_koordynator-bucket-min-width} + #{$szkoda_koordynator-workspace-panel-closed-margin});
          padding-bottom: 0;
        }

        .workspace__panel__tool {
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;

          @include rwd('sm') {
            right: 0;
            bottom: unset;
            left: unset;
          }
        }
      }

      &--right {
        flex-direction: column-reverse;
        padding-top: $szkoda_koordynator-workspace-panel-closed-margin;

        @include rwd('sm') {
          padding-top: 0;
          right: calc(0px - #{$szkoda_koordynator-bucket-min-width} + #{$szkoda_koordynator-workspace-panel-closed-margin});
        }

        .workspace__panel__tool {
          top: 0;
          bottom: unset;
          display: flex;
          align-items: center;
          justify-content: center;
          @include rwd('sm') {
            left: 0;
            right: unset;
            top: 50%;
          }
        }
      }
    }

    &__crop-window {
      transition: 0.47s all;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      padding-bottom: 2rem;
      min-height: inherit;
    }

    &__list-group {
      display: flex;
      flex-wrap: nowrap;
    }

  }

  &.left-panel-opened {


    @include rwd('sm') {
      padding-left: 0;
    }

    .workspace {
      &__panel {
        &__content {

          > * {
            opacity: 1;
          }
        }

        &--left {
          height: auto;
          max-height: 50vh;


          @include rwd('sm') {
            left: 0;
            height: 100%;
            max-height: unset;
          }
        }
      }

      &__crop-window {
        @include rwd('sm') {
          margin-left: calc(#{$szkoda_koordynator-bucket-min-width} + 4 * #{$szkoda_koordynator-workspace-bucket-gutter});
        }
      }
    }
  }

  &.right-panel-opened {
    @include rwd('sm') {
      padding-right: 0;
    }

    .workspace {
      &__panel {
        &__content {

          > * {
            opacity: 1;
          }
        }


        &--right {
          height: auto;
          max-height: 50vh;
          @include rwd('sm') {
            right: 0;
            max-height: unset;
            height: 100%;
          }
        }
      }

      &__crop-window {
        @include rwd('sm') {
          margin-right: calc(#{$szkoda_koordynator-bucket-min-width} + 4 * #{$szkoda_koordynator-workspace-bucket-gutter});
        }
      }
    }
  }

}
