.vue-component-workspace {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 767px) {
    .vue-component-workspace {
      min-height: 80vh;
      padding-left: calc(40px + 3 * 5px);
      padding-right: calc(40px + 3 * 5px); } }
  .vue-component-workspace .workspace {
    position: relative;
    overflow: hidden; }
    .vue-component-workspace .workspace__panel {
      display: flex;
      position: relative;
      transition: 0.5s all;
      background: blue;
      overflow: hidden;
      height: 40px; }
      @media (min-width: 767px) {
        .vue-component-workspace .workspace__panel {
          position: absolute;
          width: calc(250px + 2 * 5px);
          height: 100%;
          z-index: 1000; } }
      .vue-component-workspace .workspace__panel__content {
        transition: 0.5s all;
        background: darkred;
        height: calc(100% - 40px);
        max-height: calc(50vh - 40px);
        overflow: hidden; }
        .vue-component-workspace .workspace__panel__content > * {
          transition: 1s opacity;
          opacity: 0; }
        @media (min-width: 767px) {
          .vue-component-workspace .workspace__panel__content {
            height: 100%;
            max-height: unset;
            overflow: unset; } }
      .vue-component-workspace .workspace__panel__tool {
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%; }
        .vue-component-workspace .workspace__panel__tool > div {
          background: orange; }
        @media (min-width: 767px) {
          .vue-component-workspace .workspace__panel__tool {
            top: 50%;
            bottom: unset;
            transform: rotate(-90deg); } }
      .vue-component-workspace .workspace__panel--left {
        padding-bottom: 40px; }
        @media (min-width: 767px) {
          .vue-component-workspace .workspace__panel--left {
            left: calc(0px - 250px + 40px);
            padding-bottom: 0; } }
        .vue-component-workspace .workspace__panel--left .workspace__panel__tool {
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media (min-width: 767px) {
            .vue-component-workspace .workspace__panel--left .workspace__panel__tool {
              right: 0;
              bottom: unset;
              left: unset; } }
      .vue-component-workspace .workspace__panel--right {
        flex-direction: column-reverse;
        padding-top: 40px; }
        @media (min-width: 767px) {
          .vue-component-workspace .workspace__panel--right {
            padding-top: 0;
            right: calc(0px - 250px + 40px); } }
        .vue-component-workspace .workspace__panel--right .workspace__panel__tool {
          top: 0;
          bottom: unset;
          display: flex;
          align-items: center;
          justify-content: center; }
          @media (min-width: 767px) {
            .vue-component-workspace .workspace__panel--right .workspace__panel__tool {
              left: 0;
              right: unset;
              top: 50%; } }
    .vue-component-workspace .workspace__crop-window {
      transition: 0.47s all;
      display: flex;
      flex-wrap: nowrap;
      overflow: auto;
      padding-bottom: 2rem;
      min-height: inherit; }
    .vue-component-workspace .workspace__list-group {
      display: flex;
      flex-wrap: nowrap; }
  @media (min-width: 767px) {
    .vue-component-workspace.left-panel-opened {
      padding-left: 0; } }
  .vue-component-workspace.left-panel-opened .workspace__panel__content > * {
    opacity: 1; }
  .vue-component-workspace.left-panel-opened .workspace__panel--left {
    height: auto;
    max-height: 50vh; }
    @media (min-width: 767px) {
      .vue-component-workspace.left-panel-opened .workspace__panel--left {
        left: 0;
        height: 100%;
        max-height: unset; } }
  @media (min-width: 767px) {
    .vue-component-workspace.left-panel-opened .workspace__crop-window {
      margin-left: calc(250px + 4 * 5px); } }
  @media (min-width: 767px) {
    .vue-component-workspace.right-panel-opened {
      padding-right: 0; } }
  .vue-component-workspace.right-panel-opened .workspace__panel__content > * {
    opacity: 1; }
  .vue-component-workspace.right-panel-opened .workspace__panel--right {
    height: auto;
    max-height: 50vh; }
    @media (min-width: 767px) {
      .vue-component-workspace.right-panel-opened .workspace__panel--right {
        right: 0;
        max-height: unset;
        height: 100%; } }
  @media (min-width: 767px) {
    .vue-component-workspace.right-panel-opened .workspace__crop-window {
      margin-right: calc(250px + 4 * 5px); } }
