$sizes: xs, sm, md, lg, xlg, xxlg;
$sizes-ext: (
        'xs' : 480px,
        'sm' : 767px,
        'md' : 992px,
        'lg' : 1200px,
        'xlg' : 1900px,
        'xxlg' : 2400px
);
@mixin rwd($breakpoint) {
  $value: map-get($sizes-ext, $breakpoint);
  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$sizes-ext` map.";
  }
}
